footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    flex-shrink: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.footer-content p {
    margin: 5px 0;
}

.social-links {
    margin-top: 10px;
}

.social-icon {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.social-icon:hover {
    text-decoration: none;
    color: gray;
}
